
#navbar {
    display: inline-block;
    text-align: right;
    position: fixed;
    top:0;
    width: 100%;
}

#navbar ul li {
        display: inline-block;
    }
#welcome-section {
    height: 100vh;
  
}

@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
}